.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  li{
    list-style: none;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    border-radius: 10px;
    background: #c8c8c8;
    -webkit-box-shadow: 5px 0px 18px 5px rgba(0,0,0,0.31);
    box-shadow: 5px 0px 18px 5px rgba(143, 143, 143, 0.31);
    font-size: 20px;
  }
}

.content {
  justify-content: center;
  text-align: center;

  .new{
    text-decoration: none;
    font-size: 26px;
    border: 1px solid;
    padding: 5px 25px;
    margin-top: 10px;
    color: #F76B6B;
    border-radius: 10px;
    &:hover {
      color: white;
      background-color: #F76B6B;

    }
  }
}
